{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block body %}
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="overview-wrap" style="margin-bottom: 10px;">
                                        <h2><i class="fa fa-map-marker red"></i><strong>{{country}}</strong></h2>

                                        <div class="account-wrap" stlye="user-select:none;">
                                            <div class="account-item clearfix js-item-menu">
                                                <div class="image">
                                                    <img src="/images/icon/avatar-01.jpg" alt="John Doe">
                                                </div>
                                                <div class="content">
                                                    <a class="js-acc-btn" href="#">{{app.user.username}}</a>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="info clearfix">
                                                        <div class="image">
                                                            <a href="#">
                                                                <img src="/images/icon/avatar-01.jpg" alt="John Doe">
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="name">
                                                                <a href="#">{{app.user.username}}</a>
                                                            </h5>
                                                            <span class="email">{{app.user.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="account-dropdown__footer">
                                                        <a href="/logout">
                                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{population.total_population.population}}</h2>
                                                <span>populația țării</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-face"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{lifeExpectancyFemale.total_life_expectancy|round(2)}} ani</h2>
                                                <span>Speranța de viață femei</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-face"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{lifeExpectancyMale.total_life_expectancy|round(2)}} ani</h2>
                                                <span>Speranța de viață bărbați</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2 id="gdpValue">100</h2>
                                                <span>PIB, miliarde dolari</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart4"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card m-b-30">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 m-b-40">Distribuția mortalității femeilor</h3>
                                        <canvas id="barChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card m-b-30">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 m-b-40">Distribuția mortalității bărbaților</h3>
                                        <canvas id="barChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

{% endblock %}

{% block javascripts %}
<script src="/js/GDPcolor.js"></script>
<script>
    var prefix = window.location.href.split("countries/")[1];
    $('#gdpValue').text(gdpData[prefix]);

  try {
    //bar chart1
    var ctx = document.getElementById("barChart1");
    if (ctx) {
      ctx.height = 200;
      labelsArr = [];
      valuesArr = [];
      {% for item in mortalityDistributionFemale.mortality_distribution %}
        labelsArr.push({{item.age}}+" ani");
        valuesArr.push({{item.mortality_percent}}); 
      {% endfor %}
      var myChart = new Chart(ctx, {
        type: 'bar',
        defaultFontFamily: 'Poppins',
        data: {
          labels: labelsArr,
          datasets: [
            {
              label: "Procent(%)",
              data: valuesArr,
              borderColor: "rgba(0, 123, 255, 0.9)",
              borderWidth: "0",
              backgroundColor: "rgba(0, 123, 255, 0.5)",
              fontFamily: "Poppins"
            },
          ]
        },
        options: {
          legend: {
            position: 'top',
            labels: {
              fontFamily: 'Poppins'
            }

          },
          scales: {
            xAxes: [{
              ticks: {
                fontFamily: "Poppins"

              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                fontFamily: "Poppins"
              }
            }]
          }
        }
      });
    }


  } catch (error) {
    console.log(error);
  }

  try {
    //bar chart2
    var ctx = document.getElementById("barChart2");
    if (ctx) {
      ctx.height = 200;
      labelsArr = [];
      valuesArr = [];
      {% for item in mortalityDistributionMale.mortality_distribution %}
        labelsArr.push({{item.age}}+" ani");
        valuesArr.push({{item.mortality_percent}}); 
      {% endfor %}
      var myChart = new Chart(ctx, {
        type: 'bar',
        defaultFontFamily: 'Poppins',
        data: {
          labels: labelsArr,
          datasets: [
            {
              label: "Procent(%)",
              data: valuesArr,
              borderColor: "rgba(0, 123, 255, 0.9)",
              borderWidth: "0",
              backgroundColor: "rgba(0, 30, 155, 0.5)",
              fontFamily: "Poppins"
            },
          ]
        },
        options: {
          legend: {
            position: 'top',
            labels: {
              fontFamily: 'Poppins'
            }

          },
          scales: {
            xAxes: [{
              ticks: {
                fontFamily: "Poppins"

              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                fontFamily: "Poppins"
              }
            }]
          }
        }
      });
    }


  } catch (error) {
    console.log(error);
  }
</script>
{% endblock %}
